{
	"presets": [
		[
			"@babel/preset-env",
		]
	],
	"plugins": [
		"transform-object-assign",
		[
			"inline-svg",
			{
				"ignorePattern": "icons",
				"disableNamespaceIds": true,
				"disableSVGO": true
			}
		]
	]
}